body {
  font-family: Lato;
  font-size: normal;
  font-weight: normal;
}
.blok_1 {
  display: block;
  background-color: #ed4c5c;
  color: #ffffff;
  height: 500px;
  width: 1440px;
  /* position: absolute; */
}
.box_1 {
  display: inline-block;
  width: 40%;
}

.text_1 {
  position: absolute;
  width: 445px;
  height: 107px;
  left: 165px;
  top: 122px;
  font-size: 40px;
}
.text_2 {
  position: absolute;
  left: 165px;
  top: 253px;
  width: 445px;
  height: 64px;
  font-size: 14px;
  line-height: 19.6px;
}
.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 163px;
  top: 357px;
  width: 134px;
  height: 32px;
}
#vector,
#AppStore {
  width: 32px;
  height: 32px;
}
#windows {
  height: 24px;
  width: 24px;
}
.box_2 {
  display: inline-block;
}
#image_left,
#image_right {
  position: absolute;
  width: 383px;
  height: 267px;
  left: 691px;
  top: 116px;
}
#image_right {
  left: 841px;
}
#image_front {
  position: absolute;
  width: 445px;
  height: 311px;
  left: 735px;
  top: 94px;
  z-index: 1;
}
.blok_2 {
  display: block;
  color: black;
  background-color: #ffffff;
  height: 500px;
  width: 1440px;
  /* position: absolute; */
}
.text_3 {
  position: absolute;
  font-size: 36px;
  left: 176px;
  top: 617px;
}
.text_4 {
  position: absolute;
  left: 176px;
  top: 713px;
  font-size: 14px;
  width: 434px;
  line-height: 19.6px;
}
#input_1,
#input_2,
#input_3,
#service,
#button {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  color: #132743;
  padding-left: 31px;

  height: 60px;
}
#input_1 {
  position: absolute;
  left: 735px;
  top: 617px;
  width: 255px;
  opacity: 0.5;
}
#input_2 {
  position: absolute;
  left: 1020px;
  top: 617px;
  width: 255px;
  opacity: 0.5;
}
#input_3 {
  position: absolute;
  left: 735px;
  top: 701px;
  width: 540px;
  opacity: 0.5;
}
#service {
  position: absolute;
  left: 735px;
  top: 785px;
  width: 540px;
  opacity: 0.5;
}
#button {
  position: absolute;
  left: 735px;
  top: 872px;
  width: 160px;
  height: 50px;
  background-color: #ed4c5c;
  color: #ffffff;
  padding: 0;
  text-align: center;
}
.blok_3 {
  display: block;
  color: black;
  background-color: #fafafa;
  height: 500px;
  width: 1440px;
}
.text_5,
.text_6,
.text_7,
.text_8 {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
}
.text_5 {
  left: 166px;
  top: 1130px;
}
.text_6 {
  left: 450px;
  top: 1130px;
}
.text_7 {
  left: 734px;
  top: 1130px;
}
.text_8 {
  left: 1022px;
  top: 1130px;
}
.text_9 {
  position: absolute;
  left: 166px;
  top: 1185px;
}
.text_10 {
  position: absolute;
  left: 450px;
  top: 1180px;
}
.text_11 {
  position: absolute;
  left: 734px;
  top: 1185px;
}
.icon_2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 734px;
  top: 1250px;
}
#bank {
  position: absolute;
  width: 216px;
  height: 31px;
  left: 1028px;
  top: 1185px;
}
.text_12 {
  position: absolute;
  left: 161px;
  top: 1380px;
}
