body {
  background: gray;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.blok {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  border: 1.5px solid darkgray;
  border-radius: 5px;
  width: 50em;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
td {
  border-top: 1.5px solid darkgray;
}
th,
td {
  padding: 5px;
  text-align: left;
  color: white;
  height: 35px;
}
.td_second {
  color: rgb(63, 62, 62);
}
.arrow_down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  display: inline;
  margin-left: 6px;
  position: relative;
  top: 12px;
}
#folder {
  width: 15px;
}
.dots::before {
  content: "•••";
  letter-spacing: 2px;
  font-size: 16px;
  padding-right: 15px;
  text-align: right;
}
td.dots {
  text-align: right;
}
.search {
  background: darkgrey;
  border: 1px solid darkgrey;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  float: left;
}
#search {
  width: 15px;
  margin: 7px;
}

input[type="text"] {
  color: white;
  background-color: darkgrey;
  border: none;
  outline: none;
  position: relative;
  height: 30px;
  top: -33px;
  width: 400%;
  right: -32px;
  border-radius: 7px;
}
.first_name {
  padding-left: 9px;
  width: 300px;
  font-weight: 600;
}
