* {
  font-family: Avenir, sans-serif;
}

.header_nav {
  display: flex;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 62px;
  
}
.header_icon {
  width: 50px;
  height: 35px;
  display: flex;
  
}
.pink {
  width: 20px;
  height: 20px;
  background-color: #9c69e2;
  border-radius: 10px;
}
.ross {
  width: 20px;
  height: 35px;
  background-color: #f063b8;
  border-radius: 10px;
}
.nav {
  display: flex;  
  width: 322px;
  height: 30px;
  margin-left: 121px;
  margin-right: 418px;
  size: 16px;
}

.button_request {  
  width: 210px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 16px;
  j
}
#arrow_request {
  width: 20px;
  background-color: #ffffff;
}
